@import "./utilities/variables.scss";
@import "./layout_index/nav";
@import "./layout_index/header";
@import "./layout_index/main";
@import "./layout_index/footer";
@import "./layout_quienSomos/headerQ";
@import "./layout_quienSomos/main";
@import "./layout_quienSomos/footerQ";

body {
    background-color: rgb(131, 117, 117);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 2;
    
}
