footer {
    ul {
        background-color:rgb(31, 29, 29) ;
        justify-content: center;
        align-items: center;
        .logoinstagram {
                width: 5vw;
          }
    }
    .palabrasFoot :hover {
        zoom: 110%;
        color: blue;
    }
} 