nav {
    background-color:rgb(31, 29, 29);
    .logoBaru {
        width: 9vw
    }
    a :hover {
        color: rgb(63, 63, 228);
        text-decoration: underline;
        cursor: pointer;
    }
}